CF_IMAGES_ACCOUNT_ID = "your-account-id-here"
CF_IMAGES_ACCOUNT_HASH = "your-account-hash-here"
CF_IMAGES_API_TOKEN = "your-api-token-here"
CF_KV_NAMESPACE_ID = "bb0b43af3b664ade934b2d935af5763d"
CF_D1_DATABASE_ID = "aea74e28-1a98-427b-a107-006036fbfd3e"
